@charset "utf-8";
/* 초기화 */
html, body { height: 100%; }
body, ul { margin: 0; padding: 0; }
li { list-style: none; }
/* sliderWrap */
#sliderWrap { overflow: hidden; width: 100%; height: 100%; }
/* sliderList */
#sliderList { width: 300%; height: 100%; }
#sliderList li { width: 33.3333%; height: 100%; float: left;
                background: no-repeat center center / cover; }
#sliderList .slider1 { background-image: url(../images/img1.jpg) }
#sliderList .slider2 { background-image: url(../images/img2.jpg) }
#sliderList .slider3 { background-image: url(../images/img3.jpg) }
/* 좌우버튼 */
#btnPos span { position: absolute; top: calc(50% - 50px);
              width: 70px; height: 100px;
              text-align: center; line-height: 100px;
              background: #000; color: #fff; }
#btnPos span.prev { left: 100px; }
#btnPos span.next { right: 100px; }
/* 번호버튼 */
#btnNum { position: absolute; left: calc(50% - 105px); bottom: 100px; }
#btnNum span { display: block;
              width: 50px; height: 50px; float: left;
              margin: 0 10px; border-radius: 50%;
              text-align: center; line-height: 50px;
              background: #000; color: #fff; }
