@charset "utf-8";
#wrap { overflow: hidden; position: relative; width: 640px; height: 405px;
      background: #a5f08f; }
#wrap > div { position: absolute; top: 0; width: 320px; height: 405px;
            background: url(coffee.jpg) no-repeat;
            }
#wrap > .slice1 { left: 0; background-position: 0 0; }
#wrap > .slice2 { right: 0; background-position: 100% 0; } /*배경위치적용 */
